@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "商品資訊";
}

<h2>商品資訊</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @using (Html.BeginForm())
    {
        @*<input type="search" name="keyword" value="" />*@
        @Html.TextBox("keyword")
        <input type="submit" value="尋找"/>
    }
</p>

@*@Html.PagedListPager(Model as IPagedList, (p) => Url.Action("Index", new { page = p}))*@
@Html.Partial("_Pager", Model)

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            <a href="@Url.Action("Index", "Products", new { sort = "++", keyword = ViewBag.keyword})">遞增</a>
            @Html.DisplayNameFor(model => model.Price)
            <a href="@Url.Action("Index", "Products", new { sort = "--", keyword = ViewBag.keyword})">遞減</a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td class="@(item.Price > 100 ? "text-danger" : "")">
                NT$ @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
